ges-notif-div{
    padding: 0 .7em;
}

.ges-notif-span{
    float: left;
    margin-right: .3em;
}

#ges-box{
    background: #fafafa;
    border-radius: 10px;
    color: black;
    width: 600px;
    margin: auto;
    padding: 15px;
    background: url('chrome-extension://abcnlhmdpnabffmmfkplfljmafjplmma/images/bg.jpg') center;
    display: none;
}

#ges-box h1{
    font-family: "Century Gothic" sans-serif;
    font-size: 20pt;
    background: rgba(255,255,255,.5);
}

#ges-tabs > div{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
